.grid {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px ;  /* 👈 el lado será el 80% del menor entre ancho/alto de la ventana */
  height: 700px;  /* así siempre será un cuadrado proporcional */
  box-sizing: border-box;
  flex-shrink: 0;
}

.row {
  display: flex;
  
}

.cell {
  border: 1px solid black;
  
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}